body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

.navbar-inverse .brand, .brand {
	color: #F20AD3;
}

.row-fluid .span3 {
	width: 12.077%;
	min-width: 150px;
}

#welcome-popup p {
	color: #dd0606;
}

.hero-unit .tophead {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E5E5E5;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
	margin-bottom: 20px;
	margin-top: 0;
    padding: 0;
}

.hero-unit .tophead span.title {
	display: block;
	font-size: 21px;
	line-height: 40px;
	position: relative;
}
.hero-unit .tophead span.title .icon-question-sign {
	margin-left: 5px;
	font-size: 15px;
	position: absolute;
}
.hero-unit .tophead .img-holder img {
	border-radius: 5px;
	margin-right: 15px;
	max-width: 109px;
	min-height: 96px;
}
.hero-unit .tophead .img-holder .icon-spinner {
	display: none;
}
.hero-unit .tophead .img-holder .img-holder-load {
	padding: 43.5px;
}
.hero-unit .tophead .img-holder p {
	margin: 0;
}

.hero-unit .tophead .img-holder i {
	margin-right: 5px;
}

.hero-unit .tophead .img-holder ul.unstyled li {
	line-height: 10px;
}
.modal form {
	margin: 0;
}
.modal .modal-footer .alert {
	margin-bottom: 0;
	text-align: left;
	max-width: 280px;
}

/************************************************************
 *				  - ICON Style -
 ************************************************************/
.icon-twitter-sign:hover {
	color: #00BBF5;
}
.icon-facebook-sign:hover {
	color: #006DCC;
}
.icon-linkedin-sign:hover {
	color: #3893C4;
}

/************************************************************
 *               - MY DETAILS PAGE - 
 ************************************************************/
.modalform .form-horizontal .control-label {
	width: 110px;
}

.modalform .form-horizontal .controls {
	/*margin-left: 130px;*/
}

.modalform .form-horizontal .controls .span3-edit {
	width: 289px;
}

.modalform .form-horizontal .controls .span2-edit {
	width: 130px;
}
.nav-tabs li {
	position: relative;
}
.nav-tabs .icon-remove {
	font-size: 10px;
	position: absolute;
	right: 4px;
	top: 5px;
	color: red;
	display: none;
}
.nav-tabs .icon-remove:hover {
	cursor: pointer;
}
.profile-detail {
	border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    padding: 5px;
}
.profile-detail:hover {
	background-color: #FFFFFF;
}
.profile-detail .delete-wrapper {
	line-height: 14px;
	display: none;
}
.profile-detail .delete-wrapper a:hover {
	color: #FF0000;
	cursor: pointer;
}
.profile-detail:hover .delete-wrapper {
	display: block;
}
.profile-detail .profile-detail-header img {
	border-radius: 5px;
	margin-right: 10px;
	width: 70px;
}
.profile-detail .profile-detail-header ul {
	font-weight: bold;
}
.profile-detail .profile-detail-header ul li {
	line-height: 20px;
}
.profile-detail .profile-detail-header [class^="icon-"] {
	cursor: pointer;
}
.profile-detail .profile-detail-header a {
	color: inherit;
}
.profile-detail .profile-detail-header a:hover {
	text-decoration: none;
}

/************************************************************
 *               - MEDIA SCREEN 980px - 
 ************************************************************/
@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
	  float: none;
	  padding-left: 5px;
	  padding-right: 5px;
	}
}